* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.headerPc{
  padding: 0 60px;
  .headerInner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0 0;
    .headerMain{
      width: 1040px;
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      .furimaImg{
      }
      .searchBox{
        width: 1180px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 5px 0;
        &__input{
          .search{
            width: 835px;
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
        &__button{
          .form-submit{
            width: 36px;
            height: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
          }
          .icon-search{
            position: absolute;
            right: 8px;
            top: 13px;
          }
        }
      }
    }
  }
  .navigation{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
    &__left{
      display: flex;
      .catBtn{
        line-height: 32px;
        background-size: 18px;
        padding: 0 30px 0 0;
        a{
          color: #333;
          text-decoration: none;
        }
        a:hover{
          color: orange;
        }
      }
      .brandBtn{
        line-height: 32px;
        background-size: 18px;
        padding: 0 30px 0 16px;
        a{
          color: #333;
          text-decoration: none;
        }
        a:hover{
          color: orange;
        }
      }
    }
    &__right{
      display: flex;
      .logBtn{
        line-height: 32px;
        background-size: 18px;
        padding: 0 0 0 16px;
        a{
          color: #333;
          text-decoration: none;
        }
      }
      .newBtn{
        line-height: 32px;
        background-size: 18px;
        padding: 0 0 0 16px;
        a{
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}