.Pankuzu
.Main
  .Wrapper
    .Container
      = render 'sidebar'
      .MainContents
        .Contents__Notice
          .UserImage
            .UserImage__Icon
            .UserImage__Name 名前
            .UserImage__Numbers
              .UserImage__Numbers__Evaluation
                評価
                %span.count 0
              .UserImage__Numbers__ExhibitionCount
                出品数
                %span.count 0
          .UserNotice
            .NoticeButtons
              .NoticeButtons__Notice お知らせ
              .NoticeButtons__Do やることリスト
            .NoticeBox
              .NoticeBox__Image
              .NoticeBox__MassegeBox
                .NoticeBox__MassegeBox__Text メッセージが入ります
                .NoticeBox__MassegeBox__Icon
                .NoticeBox__MassegeBox__Days １日前
            .NoticeBox
              .NoticeBox__Image
              .NoticeBox__MassegeBox
                .NoticeBox__MassegeBox__Text メッセージが入ります
                .NoticeBox__MassegeBox__Icon
                .NoticeBox__MassegeBox__Days １日前
            .NoticeBox
              .NoticeBox__Image
              .NoticeBox__MassegeBox
                .NoticeBox__MassegeBox__Text メッセージが入ります
                .NoticeBox__MassegeBox__Icon
                .NoticeBox__MassegeBox__Days １日前
            .NoticeBox
              .NoticeBox__Image
              .NoticeBox__MassegeBox
                .NoticeBox__MassegeBox__Text メッセージが入ります
                .NoticeBox__MassegeBox__Icon
                .NoticeBox__MassegeBox__Days １日前
            .NoticeBox
              .NoticeBox__Image
              .NoticeBox__MassegeBox
                .NoticeBox__MassegeBox__Text メッセージが入ります
                .NoticeBox__MassegeBox__Icon
                .NoticeBox__MassegeBox__Days １日前
            .MypageButton
              .GoButton 一覧を見る
        .Contents__Products
          .ProductsButtons
            .ProductsButtons__Doing 取引中
            .ProductsButtons__After 過去の取引
          .ProductsBox
            .ProductsBox__Image
            .ProductsBox__MassegeBox
              .ProductsBox__MassegeBox__Text メッセージが入ります
              .ProductsBox__MassegeBox__Icon 取引中
          .ProductsBox
            .ProductsBox__Image
            .ProductsBox__MassegeBox
              .ProductsBox__MassegeBox__Text メッセージが入ります
              .ProductsBox__MassegeBox__Icon 取引中
          .ProductsBox
            .ProductsBox__Image
            .ProductsBox__MassegeBox
              .ProductsBox__MassegeBox__Text メッセージが入ります
              .ProductsBox__MassegeBox__Icon 取引中
          .ProductsButton
            .GoButton 一覧を見る
        -# レスポンス時に使用
        -# .Contents__Menu
        -# .Contents__Merupay
        -# .Contents__Edit