.Categories {
  margin: auto 50px;
  text-decoration: none;
  font-size: 32px;
  font-family: Meiryo;
  display: block;
  &__Title {
    margin-top: 25px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    background-color:;
    color:#272727;
    border-radius: 5px;
  }
  &__L1 {
    margin-top: 25px;
    padding: 25px 0px 5px 0px;
    font-size: .9em;
    font-weight: 600;
  }
  .Level1List {
    display: block;
    padding: 5px 20px 5px;
    border: 1px solid black;
    border-radius: 15px 15px 0 0;
    background-color: #3ccace;
    color: white;
  }
  &__L2 {
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
    margin-bottom: 25px;
    padding: 0 0 5px 10px;
    font-size: .7em;
    font-weight: 550;
    display: block;
  }
  &__L3 {
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: .7em;
    font-weight: normal;   
    display: block;
    width: 100%;
    border: 1px solid red;
    &__Items {
      display: inline-block;
    }
    .Level3List {
    border: 1px solid black;
    display: inline-block;
    width: 250px;
    height: 35px;
    line-height: 35px;
    }
  }
}