.Box
  %a= link_to "プライバシーポリシー", "#"
  %a= link_to "フリマ利用規約", "#", class: "Center"
  %a= link_to "特定商取引に関する表記", "#"
.footer__logo
  = image_tag "/logo/logo-white.png", width: '180px'
%p.Merucal-Inc © FURIMA, Inc.