.Box
  %a= link_to "プライバシーポリシー", "#"
  %a= link_to "フリマ利用規約", "#", class: "Center"
  %a= link_to "特定商取引に関する表記", "#"
.footer__logo
  = image_tag "/logo/logo-white.png", width: '180px'
%p.Merucal-Inc © FURIMA, Inc.
-# 出品追従ボタン実装する場合の記述
-# .footer-bt
-#   %span.footer-bt--text
-#     出品する
-#   .footer-bticon
-#     = link_to image_tag("/icon/icon_camera.png", class: 'Camera', width: "54px", height: "54px"), "/products/new"