!!!
%html
  %head
    %meta{"charset":"UTF-8"}
    %title fleamaket_sample_79d
  %body
    .Main
      %section.Container
        .Container__TitleBox
          .Container__TitleBox__Title 
            %h1.Heading 購入内容の確認
        .Container__Content-1
          .Content-1__DetailsBox
            .DetailsBox__PhotoItem
              .PhotoItem__Photo