!!!
%html
  %head
    %meta{"charset":"UTF-8"}
    %title fleamaket_sample_79d
  %body
    %header
      = render 'header'
    .Main
      %section.Container
        .Content
          .Content__Title 
            %h1.Heading 購入内容の確認
      %section.Container
        .Content
          .DetailsBox 
            .PhotoItem
              %figure.Photo
                %img{ src: "/assets/suits.jpg", alt: "画像", class: "Photo__ProductImg" }
            .DentailsItem
              %p.DentailsItem__ItemName スーツ
              %p.ItemPrice
                %span.ItemPrice__Tax 送料込み (税込)
                %span.ItemPrice__Price ¥39,800
      %section.Container
        .Content
          .PaymentContent
            %span.PaymentContent__Payment 支払い金額
            %span.PaymentContent__PaymentPraice ¥39,800
          %label.PointContent
            %label.PointBox
              %span.Box
                %span.Box__InputBox
              %img.PointBox__logo{ src: "/assets/logo2.png", alt: "ロゴ" }
              %p.PointBox__PointText ポイント
            %p.PointContent__Point 所持ポイント : P0
      %section.Container
        .Content
          .RegisterContent
            .MethodBox
              %h3.MethodBox__Method 支払い方法
            = link_to "#", class: "RegisterBox" do
              %span.RegisterBox__icon
                ⊕
              %span.RegisterBox__RegisterText 登録してください
      %section.Container
        .Content
          .RegisterContent
            .MethodBox
              %h3.MethodBox__Method 配送先
            = link_to "#", class: "RegisterBox" do
              %span.RegisterBox__icon
                ⊕
              %span.RegisterBox__RegisterText 登録してください
      %section.Container
        .Content
          .PurchaseContent
            %p.PurchaseContent__InputText 配送先と支払い方法の入力を完了してください。
            %button{type: "button", class:'PurchaseContent__BayBtn', url:"#"} 購入する
    %footer
      = render 'footer'