.wrapper
  %section.Introduction
    .Introduction__content
      %h2.Introduction__title
        %br/
        人生を変えるフリマアプリ
      %p.Introduction__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .Introduction__btn
        = link_to '#',class: "applelButton"
        = link_to '#',class: "googleButton"
        -# %a.appleBtn(href="#")
        -# %a.googleBtn(href="#")

  %section.Reason
    %h2.Reason__subtitle
      FURIMAが選ばれる3つの理由
  -#     %after
      

      

  -# %section.MemberIntroduction

  -# %section.Feature

  -# %section.PickupContents

  -# %section.PickupContents

  -# %aside.Banner
