%body
  .wrapper
    .Introduction
      .Introduction__Content
        .Introduction__Content--Title
          %br/
          人生を変えるフリマアプリ
        .Introduction__Content--Text
          FURIMAはだれでもかんたんに出品・購入できる
          %br/
          フリマアプリです
        .Introduction__Content--Btn
          = link_to '#',class: "ApplelButton" 
          = link_to '#',class: "GoogleButton"
          -# %a.appleBtn(href="#")
          -# %a.googleBtn(href="#")

    .Reason
      .Reason__SubTitle
        FURIMAが選ばれる3つの理由
      %ul.Reason__Lists
        %li.Reason__Lists--List
          .Reason__List--Picture
            %span.Reason__List--Picture-No1
              1
            %img(src="/assets/pict-reason-01.jpg" alt="Exhibition")/
          %h3.Reason__Lists--Text
            %span
              3分
            ですぐに出品
          %p.Reason__Lists--Explanation
          スマホで入力するだけで簡単に出品できる！  
    -#     %li.List
    -#       .List__picture
    -#       %span.No1
    -#         1
    -#       %img(src="#" alt="Exhibition")/
    -#     %h3.List__Text
    -#       %span<>
    -#         3分
    -#       ですぐに出品
    -#     %p.Explanation
    -#       スマホで入力するだけで簡単に出品できる！  
    -#     %li.List
    -#       .List__picture
    -#       %span.No1
    -#         1
    -#       %img(src="#" alt="Exhibition")/
    -#     %h3.List__Text
    -#       %span<>
    -#         3分
    -#       ですぐに出品
    -#     %p.Explanation
    -#       スマホで入力するだけで簡単に出品できる！  
        

        

    -# %section.MemberIntroduction
    -#   .topMiddleDl__in
    -#     %h2.MemberIntroduction__subtitle
    -#     会員数日本一位
    -#     %p.MemberIntroduction__text
    -#     FURIMAは、フリマアプリで最も人気。
    -#     %br/
    -#     出品・購入回数も業界最多です！
    -#     %br/
    -#     ほしかったあの商品に出会えるかもしれません。


    -# %section.Feature

    -# %section.PickupContents

    -# %section.PickupContents

    -# %aside.Banner
