!!! %html   %head     %meta{"charset":"UTF-8"}     %title fleamarket_sample_79d   %body 
.wrapper
  .Introduction
    .Introduction__content
      %h2.Introduction__title
        %br/
        人生を変えるフリマアプリ
      %p.Introduction__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .Introduction__btn
        = link_to '#',class: "applelButton" 
        = link_to '#',class: "googleButton"
        -# %a.appleBtn(href="#")
        -# %a.googleBtn(href="#")

  %section.Reason
    %h2.Reason__subtitle
      FURIMAが選ばれる3つの理由
  -#     %after
      

      

  %section.MemberIntroduction
    .topMiddleDl__in
      %h2.MemberIntroduction__subtitle
      会員数日本一位
      %p.MemberIntroduction__text
      FURIMAは、フリマアプリで最も人気。
      %br/
      出品・購入回数も業界最多です！
      %br/
      ほしかったあの商品に出会えるかもしれません。


  -# %section.Feature

  -# %section.PickupContents

  -# %section.PickupContents

  -# %aside.Banner
