%body
  .wrapper
    .Introduction
      .Introduction__Content
        .Introduction__Content--Title
          %br/
          人生を変えるフリマアプリ
        .Introduction__Content--Text
          FURIMAはだれでもかんたんに出品・購入できる
          %br/
          フリマアプリです
        .Introduction__Content--Btn
          = link_to '#',class: "ApplelButton" 
          = link_to '#',class: "GoogleButton"


    .Reason
      .Reason__SubTitle
        FURIMAが選ばれる3つの理由
        %hr.1(size="6px" width="70px" color="#3CCACE")/
      %ul.Reason__Lists
        %li.Reason__Lists--List
          .Reason__Lists--Picture
            %span.Reason__Lists--Picture-No1
              1
            %img(src="/assets/pict-reason-01.jpg" alt="Exhibition" width="306" height="306")/
          %h3.Reason__Lists--Text
            %span.Reason__Lists--Text
              3分
            ですぐに出品
          %p.Reason__Lists--Explanation
            スマホで入力するだけで簡単に出品できる！  
        %li.Reason__Lists--List
          .Reason__Lists--Picture
            %span.Reason__Lists--Picture-No1
              2
            %img(src="/assets/pict-reason-02.jpg" alt="Exhibition" width="306" height="306")/
          %h3.Reason__Lists--Text
            %span.Reason__Lists--Text
              シンプル
            で使いやすい
          %p.Reason__Lists--Explanation
            めんどくさい入力は必要なく、検索も購入もスムーズ！  
        %li.Reason__Lists--List
          .Reason__Lists--Picture
            %span.Reason__Lists--Picture-No1
              3
            %img(src="/assets/pict-reason-03.jpg" alt="Exhibition" width="306" height="306")/
          %h3.Reason__Lists--Text
            手数料
            %span.Reason__Lists--Text
              業界最安
          %p.Reason__Lists--Explanation
            最大3%でお得に出品&購入！  
        

        

    -# %section.MemberIntroduction
    -#   .topMiddleDl__in
    -#     %h2.MemberIntroduction__subtitle
    -#     会員数日本一位
    -#     %p.MemberIntroduction__text
    -#     FURIMAは、フリマアプリで最も人気。
    -#     %br/
    -#     出品・購入回数も業界最多です！
    -#     %br/
    -#     ほしかったあの商品に出会えるかもしれません。


    -# %section.Feature

    -# %section.PickupContents

    -# %section.PickupContents

    -# %aside.Banner
