.wrapper
  %section.Introduction
    .Introduction__content
      %h2.Introduction__title
        %br/
        人生を変えるフリマアプリ
      %p.Introduction__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .Introduction__btn
        = link_to '#',class: "applelButton"
          %img(src="<img src="/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg">" alt="apple")/
        = link_to '#',class: "googleButton"
          %img(src="<img src="/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg">" alt="google")/
        -# %a.appleBtn(href="#")
        -# %a.googleBtn(href="#")

  %section.Reason
    %h2.Reason__subtitle
      FURIMAが選ばれる3つの理由
      %after
      

      

  %section.MemberIntroduction

  %section.Feature

  %section.PickupContents

  %section.PickupContents

  %aside.Banner
