.Header
  .Icons
    .Icons__icon
      .Icons__icon--trash
        = icon('fas', 'trash')
    .Icons__icon
      .Icons__icon--cog
        = icon('fas', 'cog')
    .Icons__icon
      .Icons__icon--plus
        = icon('fas', 'plus')
.Wrapper
  .GroupList
    .Group
      .Group__name
        サンプルグループ
      .Group__message
        こんにちは
      .Group__userName
        太郎
    .Group
      .Group__name
        おためしグループ
      .Group__message
        こんばんは
      .Group__userName
        次郎
    .Group
      .Group__name
        はじめてグループ
      .Group__message
        はじめまして
      .Group__userName
        三郎
  .Chat
    .MessageField
      .MessageBox
        .Message
          こんにちは。
          %br
          とてもいい天気ですね。
        .MessageInfo
          .MessageInfo__userName
            太郎
          .MessageInfo__date
            2018/08/01 11:50
      .MessageBox
        .Message
          フロントの実装は慣れるまで時間がかかりますね。
          %br
          HTMLの構造を意識することが重要みたいです。
        .MessageInfo
          .MessageInfo__userName
            太郎
          .MessageInfo__date
            2018/08/02 13:00
      .MessageBox
        .Message
          今日はたくさん学習できました。
          %br
          明日も頑張ろうと思います！
        .MessageInfo
          .MessageInfo__userName
            太郎
          .MessageInfo__date
            2018/08/10 20:00
      .MessageBox
        .Message
          今年の夏はとても暑いですね。
          %br
          水不足が心配です。
        .MessageInfo
          .MessageInfo__userName
            太郎
          .MessageInfo__date
            2018/08/12 13:00
      .MessageBox
        .Message
          暑い時期は早朝の勉強がおすすめです。
          %br
          朝の時間に集中して問題は解くことにしています。
        .MessageInfo
          .MessageInfo__userName
            太郎
          .MessageInfo__date
            2018/08/13 8:00
      .MessageBox
        .Message
          学習もそろそろ折り返し地点です。
          %br
          後半戦も頑張りましょう！
        .MessageInfo
          .MessageInfo__userName
            太郎
          .MessageInfo__date
            2018/08/20 10:00
    .Footer
      %form.Form
        %input.Form__inputContent{type: "text"}
        %button.Form__submit{type: "submit"}
          POST
contents.scss
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}


body {
  height: 100%;
  width: 100%;

}

h1,
h2,