.wrapper
  %section.Introduction
    .Introduction__content
      %h2.Introduction__title
        %br/
        人生を変えるフリマアプリ
      %p.Introduction__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .Introduction__btn
        %a.appleBtn(href="#")
        %a.googleBtn(href="#")

  %section.Reason

  %section.MemberIntroduction

  %section.Feature

  %section.PickupContents

  %section.PickupContents

  %aside.Banner

