// user sign_in後に描画されるデータのCSSをこのファイルにまとめる(show/edit/logout/profileなど）

* {
  box-sizing: border-box;

}

.Pankuzu {
  text-align: center;
  width: 100vw;
  height: 48px;
  border: 1px solid rgb(245, 245,245);
}
.Main {
  width: 100vw;
  .Wrapper {
    display: flex;
    justify-content: center;
    color: #333333;
    .Container {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      
      //---------------- sidebar ---------------------
      .Sidebar {
        display: block;
        width: 280px;
        margin-left: 35px;
        &__Menu {
          .MyPageList, .PaymentList {
            width: 280px;
            &__Item {
              margin: auto 0px;
              display: inline-block;
              background: #cdcdcd;
              width: 280px;
              height: 58px;
              line-height: 58px;
              vertical-align: center;
              border: 1px solid #eeeeee;
              border-radius: 3px;
              color: #777777;
              font-weight: 200;
              font-size: 18px;
              transition: all 0.6s ease-in-out;
            }
            &__Item:hover {
              color: #e3ae57;
              background: #cacaca;
            }
            .fa-angle-right  {
              width: 9px;
            }
          }
          .SidebarTitle {
            margin-top: 20px;
            font-weight: 200;
            font-size: 1.4em;
            color: #333;
            text-shadow: 2px 2px white;
          }
        }
      }

      // ------------MainContents マイページ -----------
      .MainContents {
        width: 700vw;
        margin: 0 40px 0 40px;
        &__Profile{
          background: white;
          min-width: 375px;
          margin: 0 auto;
          display: block;
          &__Title {
            background-color: white;
            display: block;
            text-align: center;
            height: 48px;
            font-size: 1.6em;
            line-height: 48px;
            vertical-align: center;
            h1 {
              font-weight: bold;
            }
          }
          &__Detail {
            display: block;
            .Setting {
              background: #4ba8c7;
              background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.5, #c7e0fe), color-stop(.5, transparent),color-stop(.5, transparent), color-stop(.5, #c7e0fe),color-stop(.75, #c7e0fe), color-stop(.75, transparent),to(transparent));
              -webkit-background-size: 18px 18px;
              padding: 200px 16px 48px;
              position: relative;
              .SettingIcon {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                img {
                  overflow: hidden;
                  width: 120px;
                  height: 120px;
                  line-height: 120px;
                  border-radius: 50%;
                  vertical-align: middle;
                }
                &__Mypage {
                  display: block;
                  text-align: center;
                  height: 48px;
                  color: #333333;
                  font-weight: bold;
                  font-size: 1.6em;
                  text-shadow: 1.5px 1.5px white;
                  .YourRating {
                    display: flex;
                    height: 16px;
                    font-size: 14px;
                    justify-content: center;
                    padding-top: 8px;
                    .count {
                      font-weight:bold;
                      font-size: 0.9em;
                      margin-right: 15px;
                    }
                  }
                }
              }
            }
            // ------- Profile ------------------------
            .InputForm {
              margin: 20px 15px 0;
              width: 100%;
              &__Profile {
                padding: 20px 15px 0;
                width: 96%;
                height: 200px;
                line-height: 1.7em;
              }
            }
            .Actions {
              margin: 30px auto;
              display: flex;
              justify-content: center;
              .SubmitBtn{
                color: #fff;
                font-weight: bold;
                background-color: #ea352d;
                display: inline-block;
                text-align: center;
                height: 50px;
                padding: 0 174px;
                line-height: 50px;
                letter-spacing: 1px;
                text-align: center;
                border: none;
                border-radius: 2px;
                text-decoration: none;
                margin-bottom: 30px;
              }
            }
          }

          .UserNotice {
            .NoticeButtons {
              display: flex;
              text-align: center;
              font-weight: bold;
              &__Notice {
                width: 50%;
                height: 74px;
                display: inline-block;
                line-height: 72px;
                border-top: 2px solid red;
              }
              &__Do {
                width: 50%;
                height: 74px;
                display: inline-block;
                line-height: 74px;
                background-color: #eeeeee;
              }
            }
            .NoticeBox {
              width: 100%;
              height: 80px;
              padding: 16px;
              display: flex;
              border-bottom: 1px solid #eeeeee;
              &__Image{
                width: 48px;
                height: 48px;
                display: inline-block;
                background-color:#eeeeee;
              }
              &__MassegeBox {
                width: 620px;
                height: 48px;
                padding: 0 40px 0 20px;
                font-size: 14px;
                &__Text {
          
                }
                &__Icon {
                  color: #888888;
                }
                &__Days {
                  color: #888888;
                }
              }
            }
          }          
        }
        .Contents__Products {
          background-color: #ffffff;
          margin-top: 40px;
          .ProductsButtons {
            display: flex;
            text-align: center;
            font-weight: bold;
            &__Doing {
              width: 350px;
              height: 74px;
              display: inline-block;
              line-height: 72px;
              border-top: 2px solid red;
            }
            &__After {
              width: 350px;
              height: 74px;
              display: inline-block;
              line-height: 74px;
              background-color: #eeeeee;
            }
          }
          .ProductsBox {
            width: 700px;
            height: 80px;
            padding: 16px;
            display: flex;
            border-bottom: 1px solid #eeeeee;
            &__Image{
              width: 48px;
              height: 48px;
              display: inline-block;
              background-color:#eeeeee;
            }
            &__MassegeBox {
              width: 620px;
              height: 48px;
              padding: 0 40px 0 20px;
              font-size: 14px;
              display:flex;
              flex-flow: column;
              justify-content:space-between;
              &__Icon {
                width: 60px;
                height: 22px;
                text-align: center;
                line-height: 22px;
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                border-radius: 2px;
                background-color: red;
              }
            }
          }
        }

        // レスポンス時に使用
        // .Contents__Menu {
        //   width: 700px;
        //   height: 720px;
        //   background-color: #ffffff;
        //   margin-top: 40px;
        // }
        // .Contents__Merupay {
        //   width: 700px;
        //   height: 116px;
        //   background-color: #ffffff;
        //   margin-top: 40px;
        // }
        // .Contents__Edit {
        //   width: 700px;
        //   height: 356px;
        //   background-color: #ffffff;
        //   margin-top: 40px;
        // }
        // ------------- MainContents ログアウト -----------
        &__Logout {
          display: flex;
          justify-content: center;
          background: white;
          border-radius: 8px;
          padding-top: 60px;
          padding-bottom: 60px;
          .LogoutBtn {
            color: #fff;
            font-weight: bold;
            background-color: #ea352d;
            display: inline-block;
            text-align: center;
            height: 50px;
            padding: 0 174px;
            line-height: 50px;
            letter-spacing: 1px;
            text-align: center;
            border: none;
            border-radius: 2px;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// ------------- submitBtn -----------
.NextActions {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 8px;
  padding-top: 60px;
  padding-bottom: 60px;
  .NextBtn {
    color: #fff;
    font-weight: bold;
    background-color: #ea352d;
    display: inline-block;
    text-align: center;
    height: 50px;
    padding: 0 174px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
    text-decoration: none;
  }
}