// // -----↓ヘッダー-----
// header {
//   height: 128px;
//   width: 100%;
//   background-color: rgb(245, 245, 245);
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// // -----↑ヘッダー-----
.Main {
  background-color: rgb(245, 245, 245);
}
.Container {
  max-width: 700px;
  margin: 0px auto;
  background-color: white;
  .Content {
    text-align: center;
    max-width: 375px;
    margin: 0px auto;
    padding: 32px 16px;
    border-top: 1px solid rgb(245, 245, 245);
    &__Title {
      padding: 32px 16px;
      .Heading {
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
      }
    }
    .DetailsBox {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      .PhotoItem {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        .Photo {
          border-radius: 4px;
          display: inline-block;
          margin: 0;
          overflow: hidden;
          height: 80px;
          width: 80px;
          &__ProductImg {
            width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
          }
        }
      }
    }
    .DentailsItem {
      width: 100%;
      margin-left: 16px;
      &__ItemName {
        font-size: 14px;
        line-height: 1.4em;
        margin-bottom: 8px;
        text-align: left;
      }
      .ItemPrice {
        text-align: right;
        &__Tax {
          font-size: 12px;
        }
        &__Price {
          font-size: 15px;
          font-weight: 600;
          margin-left: 8px;
        }
      }
    }
    .PaymentContent {
      display: flex;
      font-size: 18px;
      font-weight: 600;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      margin-bottom: 24px;
      &__PatmintPrice{
        font-size: 24px;
      }
    }
    .PointContent {
      font-size: 14px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      .PointBox {
        cursor: not-allowed;
        .Box {
          color: #888;
          cursor: default;
          &__InputBox {
            display: inline-block;
            flex: 0 0 auto;
            height: 20px;
            position: relative;
            width: 20px;
            background-color: #ccc;
            border-radius: 2px
          }
        }
        &__logo {
          height: 14px;
          width: 14px;
          margin-right: 4px;
        }
        &__PointText {
        display: inline-block;
        font-weight: 600;
        line-height: 1.4em;
        }
      }
      &__Point {
        font-size: 12px;
        text-align: right;
        line-height: 1.6;
        max-width: 145px;
      }
    }
    .MethodBox {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-bottom: 16px;
      &__Method {
        font-size: 14px;
        font-weight: 600;
      }
    }
    .RegisterBox {
      color: rgb(0, 149, 238);
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      opacity: 1;
      pointer-events: auto;
      text-decoration: none;
      display: table;
    }
    .PurchaseContent {
      &__InputText {
        color: rgb(255, 2, 17);
        line-height: 1.5;
        margin-bottom: 24px;
      }
      &__BayBtn {
        width: 100%;
        min-height: 48px;
        background-color: #ccc;
        color: #888;
        border: none;
        font-size: 17px;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        font-weight: 600;
        border-radius: 4px;
      }
    }
  }
}
// // -----↓フッター-----
// footer {
//   height: 220px;
//   width: 100vw;
//   padding: 40px 0 41px;
//   background-color: rgb(245, 245, 245);
//   .Box {
//     width: 100vw;
//     height: 40px;
//     display: flex;
//     justify-content: center;
//     a {
//       font-size: 12px;
//       color: #cccccc;
//       text-decoration: none;
//       display: inline-block;
//     }
//     .Center {
//       margin: 0 16px;
//     }
//   } 
//   .footer__logo {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 10px;
//   }
//   .Merucal-Inc {
//     display: block;
//     text-align: center;
//     font-size: 12px;
//     color: #333333;
//   }  
// }
// // -----↑フッター-----