* {
  box-sizing: border-box;
}

body {
}

.wrapper {
}

.Introduction {
  // width: 100px;
  height: 560px;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
  background-color: rgb(184, 162, 162);
  &__content {
    color: red;
  }
}

.Introduction__Content {
  &h2.Introduction__Title{
    color: red;

  }
}