* {
  box-sizing: border-box;
  body {
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    .wrapper {
      // 人生を変えるフリマアプリ・人生を変えるフリマアプリ・人生を変えるフリマアプリ・人生を変えるフリマアプリ・
      .Introduction {
        // width: 100px;
        height: 560px;
        padding: 0 60px;
        background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        display: flex;
        align-items: center;
        &__Content {
          width: 100%;
          max-width: 1280px;
          margin: 0 auto;
          padding: 35px 0 0 0;
          &--Title {
            line-height: 1.2;
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 60px;
            color: #fff;
          }
          &--Text {
            line-height: 1.77778;
            margin: 16px 0 0 0;
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 18px;
            color: #fff;
          }
          &--Btn {
            width: 180px;
            margin: 24px 0 0 0;
            display: flex;
            .Google {
              margin-left: 9px;
            }
          }
        }
      }
      // FURIMAが選ばれる3つの理由・FURIMAが選ばれる3つの理由・FURIMAが選ばれる3つの理由・FURIMAが選ばれる3つの理由・
      .Reason {
        padding: 60px 20px;
        display: block;
        &__SubTitle {
          line-height: 1.4;
          margin-bottom: 25px;
          padding-bottom: 15px;
          font-weight: bold;
          position: relative;
          text-align: center;
          font-size: 26px;
        }
        &__Lists {
          width: 100%;
          max-width: 1020px;
          margin: 0 auto;
          display: flex;
          text-align: center;
          &--List {
            width: 30%;
            margin: 0 5% 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            .Reason__Lists--Picture {
              margin-bottom: 20px;
              position: relative;
              &-No1 {
                margin: 0 5px 0 0;
                padding: 10px 20px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4%;
                text-align: center;
                font-size: 30px;
                background-color: #3CCACE;
                color: #fff;
              }
            }
            .Reason__Lists--Text {
              margin: 0 0 0 2px;
              line-height: 50px;
              font-weight: bold;
              font-size: 24px;
              span.Reason__Lists--Text {
                color: #3CCACE;
              }
            }
            .Reason__Lists--Explanation {
              margin: 16px 0 0;
              line-height: 1.5;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}