* {
  box-sizing: border-box;
  text-decoration: none;
  body {
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    .wrapper-2 {
      background: #f8f8f8;
      // 人生を変えるフリマアプリ
      .Introduction {
        height: 560px;
        padding: 0 60px;
        background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        display: flex;
        align-items: center;
        &__Content {
          width: 100%;
          max-width: 1280px;
          margin: 0 auto;
          padding: 35px 0 0 0;
          &--Title {
            line-height: 1.2;
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 60px;
            color: #fff;
          }
          &--Text {
            line-height: 1.77778;
            margin: 16px 0 0 0;
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 18px;
            color: #fff;
          }
          &--Btn {
            width: 180px;
            height: 53.33px;
            margin: 24px 0 0 0;
            display: flex;
            .Apple {
              width: 180px;
              height: 53.33px;
            }
            .Apple:hover {
              opacity: 0.6;
            }
            .Google {
              width: 180px;
              height: 53.33px;
              margin-left: 9px;
            }
            .Google:hover {
              opacity: 0.6;
            }
          }
        }
      }
      // FURIMAが選ばれる3つの理由
      .Reason {
        padding: 60px 20px;
        display: block;
        &__SubTitle {
          line-height: 1.4;
          margin-bottom: 15px;
          padding-bottom: 15px;
          font-weight: bold;
          position: relative;
          text-align: center;
          font-size: 26px;
        }
        &__Lists {
          width: 100%;
          max-width: 1020px;
          margin: 0 auto;
          display: flex;
          text-align: center;
          &--List {
            width: 30%;
            margin: 0 5% 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            .Reason__Lists--Picture {
              margin-bottom: 15px;
              position: relative;
              &-No1 {
                margin: 0 5px 0 0;
                padding: 10px 20px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4%;
                text-align: center;
                font-size: 30px;
                background-color: #3CCACE;
                color: #fff;
              }
            }
            .Reason__Lists--Text {
              margin: 0 0 0 2px;
              line-height: 50px;
              font-weight: bold;
              font-size: 24px;
              span.Reason__Lists--Text {
                color: #3CCACE;
              }
            }
            .Reason__Lists--Explanation {
              margin: 16px 0 0;
              line-height: 1.5;
              font-size: 18px;
            }
          }
        }
      }
      // 会員数日本一位
      .MemberIntroduction {
        height: 400px;
        background-image: url(/assets/bg-topMiddleDl-pict.jpg);
        background-position: bottom right;
        background-size: cover;
        display: flex;
        align-items: center;
        &__In {
          width: 100%;
          max-width: 1040px;
          margin: 0 auto;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          text-align: left;
          color: #fff;
          &--Subtitle {
            line-height: 1.4;
            font-weight: bold;
            font-size: 27px;
          }
          &--text {
            line-height: 1.5;
            margin: 20px 0 30px;
            font-size: 18px;
          }
          &--Btn {
            width: 180px;
            margin: 24px 0 0 0;
            display: flex;
            .Apple {
              height: 53.33px;
            }
            .Apple:hover {
              opacity: 0.6;
            }
            .Google {
              height: 53.33px;
              margin-left: 9px;
            }
            .Google:hover {
              opacity: 0.6;
            }
          }
        }
      }
      // FURIMAの特徴
      .Feature {
        padding: 60px 100px;
        background-color: #fff;
        display: block;
        &__SubTitle {
          margin: 0 0 20px;
          font-size: 27px;
          text-align: center;
          font-weight: bold;
          position: relative;
        }
        &__Points {
          max-width: calc(1040px + 20px);
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          &--Point {
            width: calc(1 / 3 * 100%);
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            text-align: center;
            .Feature__Points--Point-1 {
              margin: 35px 0 10px;
              font-weight: bold;
              font-size: 19px;
            }
            .Feature__Points--Point-2 {
              margin: 0 0 40px;
              font-size: 17px;
              font-weight: 200;
              text-align: left;
            }
          }
        }
      }
      // ピックアップカテゴリー
      .PickupCategorys {
        height: 100%;
        padding: 80px 0 0;
        background-color: #f8f8f8;
        &__SubTitle {
          line-height: 1.4;
          font-weight: bold;
          text-align: center;
          font-size: 28px;
        }
        &__Products {
          margin: 0;
          padding: 0;
          &--Sub {
            text-align: center;
            .PickupCategorys__Products--SubName {
              font-weight: bold;
              font-size: 24px;
              color: #3CCACE;
            }
          }
          &--Lists {
            width: 780px;
            margin: 26px auto;
            display: flex;
            justify-content: space-around;
            .PickupCategorys__Products--List {
              width: 220px;
              display: inline-block;
              float: left;
              cursor: pointer;
              .PickupCategorys__Products--ListPicture {
                width: 220px;
                height: 150px;
                margin: 0;
                position: relative;
                overflow: hidden;
                z-index: auto;
                .rice {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .PickupCategorys__Products--ListDetails {
                background-color: white;
                color: #333;
                padding: 16px;
                .PickupCategorys__Products--ListDetailsName {
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .PickupCategorys__Products--ListDetailsDetail {
                  font-size: 16px;
                }
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
                li {
                  display: list-item;
                  text-align: -webkit-match-parent;
                }
                i.fa {
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  text-align: right;
                }
              }
            }
            .PickupCategorys__Products--List:hover {
              opacity: 0.6;
            }
          }
        }
      }
      // ピックアップブランド
      .PickupBrands {
        padding: 80px 0 ;
        background-color: #f8f8f8;
        height: 100%;
        &__SubTitle {
          text-align: center;
          font-size: 28px;
          line-height: 1.4;
          font-weight: bold;
        }
        &__Products {
          margin: 0;
          padding: 0;
          &--Sub {
            text-align: center;
            .PickupBrands__Products--SubName {
              font-weight: bold;
              font-size: 24px;
              color: #3CCACE;
            }
          }
          &--Lists {
            width: 780px;
            margin: 26px auto;
            display: flex;
            justify-content: space-around;
            .PickupBrands__Products--List {
              width: 220px;
              display: inline-block;
              float: left;
              .PickupBrands__Products--ListPicture {
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                .rice {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .PickupBrands__Products--ListDetails {
                background-color: white;
                color: #333;
                padding: 16px;
                .PickupBrands__Products--ListDetailsName {
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .PickupBrands__Products--ListDetailsDetail {
                  font-size: 16px;
                }
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
                li {
                  display: list-item;
                  text-align: -webkit-match-parent;
                }
              }
            }
            .PickupBrands__Products--List:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
    // 今すぐ無料ダウンロード！
    .Banner {
      background-image: url(/assets/bg-appBanner-pict.jpg);
      padding: 100px 40px;
      position: relative;
      background-size: cover;
      background-position: center;
      &__Center {
        color: #fff;
        text-align: center;
        &--SubTitle {
          line-height: 1.4;
          font-weight: bold;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 24px;
        }
        &--Text {
          font-size: 35px;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
        &--Btn {
          margin: 20px auto 0;
          display: flex;
          justify-content: center;
          .Apple {
            width: 180px;
            height: 53.33px;
          }
          .Apple:hover {
            opacity: 0.6;
          }
          .Google {
            width: 180px;
            height: 53.33px;
            margin-left: 9px;
          }
          .Google:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
