* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.wrapper{
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.showMain{
  padding: 40px;
  .itemBox{
    background-color: #fff;
    padding: 24px 40px 40px 40px;
    margin-bottom: 10px;
    width: 700px;
    &__title{
      display: block;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &__image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      .topSold{
        width: 0;
        height: 0;
        border-top: 40px solid #ea352d;
        border-right: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid #ea352d;
        position: absolute;
        top: 0px;
        left: 30px;
        &__in{
          transform: rotate(-45deg);
          font-size: 15px;
          margin: -35px 0 100px -55px;
          padding: 20px 0 0 13px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }
      &__top{
        display: flex;
        justify-content: center;
        .img1{
          display: flex;
          justify-content: center;
          img{
          width: 560px;
          }
        }
      }
      &__bottom{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .img2-5{
          display: flex;
          justify-content: center;
          img{
            width: 140px;
            margin: 0 5px;
          }
        }
      }
    }
    &__price{
      display: block;
      text-align: center;
      font-size: 46px;
      font-weight: bold;
      margin: 24px 10px 0 0;
    }
    &__tax{
      display: block;
      text-align: center;
    }
    &__detail{
      display:block;
      font-size: 18px;
      margin: 30px 0;
    }
    &__table{
      table{
        width: 100%;
        height: 375px;
        margin-bottom: 20px;
        tr{
          border: 1px solid #dedede;
          th{
            width: 20%;
            background-color: #eee;
            font-weight: 400;
            padding: 8px;
            border: 1px solid #dedede;
            font-size: 14px;
            text-align: center;
          }
          td{
            width: 61%;
            padding: 15px 15px;
            border: 1px solid #dedede;
            font-size: 14px;
          }
        }
      }
    }
    &__optionalArea{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .favoriteBtn{
        margin-right: auto;
        padding: 6px 10px;
        border-radius: 40px;
        color: #3CCACE;
        border: 1px solid #ffb340;
        cursor: pointer;
      }
      .reportBtn{
        padding: 8px 10px;
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #333;
        font-size: 14px;
        cursor: pointer;
        a{
        color: #333;
        text-decoration: none;
        }
      }
    }
  }
  .productRevisedInfo{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 18px;
    &__delete, &__edit, &__buy{
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      border-radius: 100px;
      margin: 5px auto;
      a{
        color: #fff;
      }
    }
  }
  .commentBox{
    background-color: #fff;
    padding: 24px;
    margin: 10px 0;
    &__contents{
      .textarea{
        display: flex;
        justify-content: center;
        textarea{
          width: 100%;
          height: 94px;
          padding: 10px;
        }
      }
      .note{
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 20px 0;
      }
      .form{
        position: relative;
        display: flex;
        justify-content: center;
        &__submit{
          font-size: 18px;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          border-radius: 100px;
          cursor: pointer;
        }
        .fas{
          position: absolute;
          top: 16px;
          right: 365px;
          color: #fff;
        }
      }
    }
  }
  .links{
    display: flex;
    justify-content: space-between;
    .front-back{
      a{
        text-decoration: none;
        color: #3CCACE;
      }
    }
  }
}

.mottoLook{
  &__link{
    display: block;
    margin: 24px 0;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    color: #3CCACE;
    a{
      color: #3CCACE;
      text-decoration: none;
    }
  }
  .mottoLook__link:hover{
    cursor: pointer;
  }
}

.mottoLook2{
  width: 233px;
  display: flex;
  position: relative;
  img{
    width: 233px;
  }
  a{
    color: #000;
  }
  .mottoSold{
    width: 0;
    height: 0;
    border-top: 40px solid #ea352d;
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #ea352d;
    position: absolute;
    &__in{
      transform: rotate(-45deg);
      font-size: 15px;
      margin: -35px 0 100px -55px;
      padding: 20px 0 0 13px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
  .img-link{
    width: 233px;
    border-right: 1px solid #f8f8f8;
    display: flex;
    justify-content: center;
    height: 150px;
  }
  .productList{
    width: 233px;
    border-right: 1px solid #f8f8f8;
    background-color: #fff;
    height: 95px;
    padding: 16px;
    .center{
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
    .tax{
      font-size: 10px;
      font-weight: bold;
    }
  }
}

.mottoLook2 a:hover{
  opacity: 0.6;
}